*,*:before,*:after {
	font: Arial;
	letter-spacing: 1px;
}

.clearfix {
	clear: both;
}

body {
  background: #999;
  width: 98vw;
}

.container {
  width: 960px;
  margin: 0 auto;
  background: #FFF;
}