*,*:before,*:after {
	font: Arial;
	letter-spacing: 1px;
}

.clear {
	clear: both;
}

.left {
	float: left;
}

.right {
	float: right;
}

body {
  background: #999;
  width: 98vw;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  background: #FFF;
}