.page-nav {
	background-color: #333;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: $bannerHeight;
	z-index: 99;
	display: none;
}

.page-nav li {
	float: left;
	font-size: 16px;
	a {
		display: block;
		color: white;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		text-transform: uppercase;
	}
	&:hover:not(.active) {
		background-color: #006600;
	}
}

.active {
	background-color: #009900;
}


.page {
	height: 100vh;
	font-size: 50px;
	text-align: center;
	padding-top: $bannerHeight;
}


